#all {
  position: absolute;
  top: 20px;
  left: auto;
  right: auto;
}

#box {
  position: absolute;
  top: 40px;
  left: 100px;
  width: 290px;
  height: 130px;
}

.show {
  display: block;
}

.hide {
  display: none;
}