#all {
  height: 640px;
  width: 960px;
  position: absolute;
	background-color:#27f305;
	position:absolute;
	margin:auto;
	top:0;
	left:0;
	right:0;
  bottom:0;
  padding-top: 20px;
}

#box {
  position: absolute;
  top: 40px;
  left: 100px;
  width: 290px;
  height: 130px;
}

#foot {
  position: absolute;
  top: 300px;
  left: 500px;
}

.show {
  display: block;
}

.hide {
  display: none;
}