svg {
  font-family: sans-serif;
  font-size: 12px;
}

#all {
  position: absolute;
	top:0;
	right:0;
  bottom:0;
	left:0;
  height: 740px;
  width: 960px;
	margin: auto;
  padding-top: 20px;
	background-color:#27f305;
  font-family: sans-serif;
}

#title {
  text-align: center;
  padding: 30px;
  font-size: 1.5em;
}

#tooltip {
  position: absolute;
  top: 250px;
  left: 590px;
  width: 290px;
  height: 130px;
  font-size: 16px;
}

#legend {
  position: absolute;
  top: 80px;
  left: 590px;
}

.show {
  display: block;
}

.hide {
  display: none;
}